






*.log
*.o
*.pyc
*.so
*.stackdump
*.sw?
*.tmproj
*_flymake.*
*private*
*~
.DS_Store
.\#*
.bzr
.hg
.project
.pydevproject
.settings
.svn
.tasks-cache
.yardoc
/Gemfile.lock
/config/apeyeye.yaml
/config/database.yml
/config/private.yml
/config/routes.rb
/config/settings.yml
/config/sphinx.yml
/coverage
/db/*.sqlite3
/log/*
/pkg/*
/public/stylesheets/compiled/*
/target
/tmp/*
/vendor/webrat/vendor
/webrat.log
Gemfile.lock
Icon?
REVISION
TAGS*
\#*
a.out
doc
nohup.out
