\#*
.\#*
*~
.DS_Store
Icon?
REVISION
TAGS*
nohup.out
.bzr
.hg
.svn

a.out
*.o
*.pyc
*.so
*.stackdump
*.sw?
*.tmproj
*_flymake.*
.project
.pydevproject
.settings
.tasks-cache
.yardoc

*private*
/log/*
/pkg/*
/tmp/*
/coverage

/db/*.sqlite3
/config/database.yml
/config/private.yml
/config/settings.yml
/config/sphinx.yml
/public/stylesheets/compiled/*

/webrat.log
/vendor/webrat/vendor

doc

/config/apeyeye.yaml
/config/routes.rb
/target
